.font-700 {
    font-weight: 700;
}

.font-600 {
    font-weight: 600;
}

.font-500 {
    font-weight: 500;
}

.font-400 {
    font-weight: 400;
}

input[type="submit"] {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
}

body {
    --placeholder-color: #90A3BF;
}

.main-body {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container .champ {
    border: 1px solid #596780;
    border-radius: 10px;
    padding: 25px;
    outline: none;
}

.container .champ:focus {
    border-color: transparent;
    outline: 2px solid yellow;
}

.container .champ::placeholder {
    color: var(--placeholder-color);
}

.container .champ[type="date"], .champ[type="time"] {
    appearance: none;
}

.container .champ[type="date"]:invalid, .champ[type="time"]:invalid  {
    color: var(--placeholder-color);
}

select {
    cursor: pointer;
}

.container {
    background: white;
    width: 850px;
    border-radius: 10px;
    padding: 24px;
}

.container .title {
    color: #1A202C;
    font-size: 20px;
}

.container .subtitle {
    color: var(--placeholder-color);
    font-size: 14px;
}

.container .title-container {
    margin-bottom: 33px;  
}

.container .questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.container .intervalle {
    margin: 24px 0;
}

.container .questions label {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container .category {
    margin-bottom: 24px;
}

.pay {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.pay .methode {
    background-color: #E0E9F4;
    border-radius: 10px;
    padding: 24px;
    display: grid;
    grid-template-areas: "radio label space logo" "questions questions questions questions";
    grid-template-columns: max-content max-content 1fr max-content;
    align-items: center;
    column-gap: 12px;
}

.pay .methode img {

    grid-area: logo;
    display: flex;
    justify-content: flex-end;

}

.pay .methode input {

    margin: 0;
    grid-area: radio;

}

.pay .methode .questions {
    grid-area: questions;
    margin-top: 24px;
}

.pay .methode .questions {
    display: none;
}

.pay .methode input[type="radio"]:checked ~ .questions {
    margin-top: 32px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}

.confirm-container {
    display: flex;
    flex-direction: column;
}

.confirm-container input[type="submit"] {
    width: 100px;
    height: 50px;
    background: #3563E9;
    border-radius: 4px;
    margin-top: 90px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.final {
    width: 490px;
}

.final .final-car {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    align-items: center;
    gap: 16px;
}

.final .separation {
    width: 100%;
    height: 0;
    border: 1px solid #E0E9F4;
    margin: 32px 0;
}

.final .final-container-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-size: 16px;
}

.final .price-type {
    color: var(--placeholder-color);
}

.final .final-promo {
    margin-bottom: 24px;
}

.final .final-promo label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 12px;
}

.final .final-promo span {
    margin-bottom: 16px;
}

.final .final-promo input[type="button"] {
    width: 97px;
    height: 39px;
    background: white;
    border: 1px solid #596780;
    border-radius: 4px;
}

.final .final-price {
    display: flex;
    justify-content: space-between;
}

.final .final-price span {
    font-size: 32px;
}

@media (max-width: 800px) {
    form {
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
    }
    .container {
        width: 320px;
    }
    .container .questions, .pay .methode input[type="radio"]:checked ~ .questions {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .confirm-container {
        gap: 20px;
    }
    .confirm input[type="submit"] {
        margin-top: 0;
    }
    .confirm .confirm-check {
        padding: 10px 16px;
        background: #E0E9F4;
        border-radius: 10px;
    }
}