* {
    box-sizing: border-box;
}


.container {
    grid-template-areas: "radio     radiolabel"
                         "questions questions";
    background: #FFFFFF;
    width: 850px;
    border-radius: 10px;
    padding: 24px;
}

.radio {
    float: left;
}

.radiolabel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.container .questions {
    display: none;
}

.container .radio:checked ~ .questions {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}